.App{
  min-height: 100vh;
  background-image: linear-gradient(90deg, rgba(41,117,116,1) 0%, rgba(29,84,140,1) 35%, rgba(5,131,183,1) 63%, rgba(4,115,191,1) 69%, rgba(0,212,255,1) 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

